{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-organize-imports"]
}
